# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Basic_Java_Beginners\CalcEngine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
